@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {margin: 0;padding: 0;-webkit-box-sizing: border-box; box-sizing: border-box;}

html {box-sizing: border-box;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{  }

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6; 
    
    background-color: #010024;
    font-size: 15px;
    color: #fff;letter-spacing: 0.2px;

	    
}
.container { position: relative;}
p {

    line-height: 1.8;
    margin: 0 0 1rem;
}
ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #fff;
}

button,
button:hover,
button:focus,
button:active {
    text-decoration: none;
    outline: none;
}

.progress {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1.3rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: rgb(255 255 255);
    border-radius: 20px;
    border: 1px solid #000;
}
.progress .pp {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
    color: #000;
    font-weight: 500;
}
/*------------ PRELOADER --------*/

/*------ Scroll to Top------- */
#scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    display: none;
    z-index: 99;
    background: #fff190;
    color: #fff;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #000;
}


#scroll-to-top:hover {
    transform: scale(1.2);
}
.nav_box {
    background-color: #F8FFE8;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    border-radius: 40px;
    border: 4px solid #000000;
    box-shadow: 2px 2px 0px #000;
}

/* --------------------------------------
  3. NAVIGATION
-----------------------------------------*/
.navbar {
       position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    z-index: 99;
    min-height: 70px;
    -webkit-transition: .5s ease;
    transition: .5s ease;padding: 45px 0 0;
    
}
.navbar .navbar-toggler {
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: 7px;
    top: 6px;
    background: #000;
    border-radius: 100%;
    padding: 5px;
    width: 35px;
    height: 35px;
}
.navbar .navbar-nav .active {color: #fff !important;}
.navbar-collapse .navbar-nav .nav-link {
    text-align: center;
    padding: 10px 0;
    margin: 0 0.8rem;
    font-size: 18px;
    color: #000;
    font-weight: 500;
}

/* .nav-scroll {   
       position: fixed;
    top: -100px;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    padding: 25px 0 0;
} */


.nav-scroll .navbar-nav .nav-link .active {color: #20cdeb !important;}



/*---------------------------------------
  4. HEADER                
-----------------------------------------*/

/*--------------home-------------------*/

#home{}
#home .banner_content {
    padding: 270px 0 150px;
    position: relative;
    z-index: 2;
}


.home h1{  font-size:120px;
    font-weight: 500;line-height: 110px;font-family: "Dela Gothic One", sans-serif;
      color: #fff;    letter-spacing: -4px;
}


.home p{      font-size: 18px;
    line-height: 30px; font-size: 20px;
    }
    .bg-tl {
        right: 0;
    }

    .btn {
        background-color: #000;
        color: #fff;
        border: 1px solid #000;
        font-family: "Dela Gothic One", sans-serif;
        border-radius: 20px; font-size: 21px;
        padding: 20px ;
        text-transform: uppercase;
    }
.btn:hover{background: none;    color: #000; background-color: #FD5D31; border: 1px solid #000;   }
.btn2{  background-color: #FFF190;      font-size: 18px;  color: #000;border: 1px solid #000;    box-shadow: 2px 2px 0px #000;     padding: 10px 20px; }
.btn3{  background-color: #FD5D31;    color: #000;border: 1px solid #000;     padding: 10px 20px; }
.btn3 small {
    font-size: 12px;
    font-weight: 400;
    display: block;
}

.btn_border{  background-color: transparent;
    color: #fff;
    border: 1px solid #fff;}

.home-content h1 {
    font-size: 6rem;
    font-weight: 900;
    color: #fff;
}

.home-content p {
    color: whitesmoke;
}

.home-content h3 {
    color: #f8c44f;
}

/*------ width < 768px ------*/
@media (max-width: 768px) {

    .home-content {
        margin-top: 20px;
        text-align: center;
    }

    .home-content h1 {
        margin-top: 20px;
        font-size: 5rem;
    }
}


ul.list-items li {
    margin-bottom: 10px;
}

.copyright{  padding: 15px 0;    margin-top: 20px;}
.light_bg{background: #fafafa;}
.footer {
    padding: 60px 0 5px;
    background: linear-gradient(180deg, rgba(121, 50, 152, 1) 0%, #020128 100%);position: relative;
}
.footer .logo{    height: 50px;}
.terms_link a{    margin-left: 25px;}
.footer .btn {
    font-size: 15px;
    padding: 15px 20px;
    text-transform: uppercase;
}

.nav_link li{ margin-bottom:7px;}
.nav_link li a{     color: #fff;
    font-size: 14px;
    font-weight: 300;}
.nav_link li a:hover, .terms_link a:hover{  color: #fff190;}
.footer .social-links ul li a:hover {  background: #fff; transform: scale(1.2);}
.footer .h4{     font-size: 15px;    margin-bottom: 10px;}
.lr_manu li {
    display: inline-block;
    
}
.lr_manu li a{
    display: inline-block;
    margin-left: 24px;
    text-transform: uppercase;
  
}
.op20{ opacity: 0.5;}
 
.faq .card {
    background: #793298;
    margin: 10px 0;
    border-radius: 25px;
    position: relative;
    border: 3px solid #FFF190;
    padding: 25px 35px;
    color: #FFF190;
}
.faq .card a{ color:#FFF190;}

.faq .card-header{  padding: 0 0 0 40px;     position: relative;line-height: 20px;
    border-bottom: 0; font-family: "Dela Gothic One", sans-serif;}
    .faq .card-header a:after {
        content: "\f2e8";
        font-family: bootstrap-icons !important;
        transition: transform .3s;
        display: block;
        transform: rotate(180deg);
        position: absolute;
        left: 0;
        top: 0;
        font-size: 25px;
    }
.faq .card-header a.collapsed:after {
    content: "\f4fc";
}
.token_mame {
    text-align: center;
    position: absolute;
    top: -200px; left: 0; width: 100%;
}
.token_mame img{
    width: 80%; 
}
.sub_hadding{ color: #FFF190; font-size: 24px;}
/* 
 
    .bgg1 {
        position: absolute;
        width: 700px;
        height: 700px;
        background: linear-gradient(180deg, rgba(0, 194, 255, 0), #001eb8);
        filter: blur(100px);
       
        margin: auto;
        left: -350px;
        top: -350px;
        opacity: .8;border-radius: 100%;
    }
    .bgg2 {
        position: absolute;
        width: 700px;
        height: 700px;
        background: linear-gradient(180deg, rgba(0, 194, 255, 0), #001eb8);
        filter: blur(100px);
        
        margin: auto;
        right: 0;
        bottom: -350px;
        opacity: .8;border-radius: 100%;
    }
    .bgg3 {
        position: absolute;
        width: 500px;
        height: 500px;
        background: linear-gradient(180deg, rgba(0, 194, 255, 0), #676FFF);
        filter: blur(100px);
        margin: auto;
        left: -55px;
        top: 156px;
        opacity: .8;
        border-radius: 100%;
    } */
.overflow-hidden{overflow: hidden;}
.logos img {
    height: 43px;
    margin: 0 30px;
}


.p70{ padding: 70px 0;}
.color1{ color: #FFF190;}
a.color1:hover{ color: #4062FF; text-decoration: underline;}
.home_profile_right{}
.setting_btn {
    font-size: 24px;
}
.app_coins {
    right: -50px;
    top: -300px;
    z-index: 1;
}
    .app_coins2{ top: -80px;}  
.home_profile_right .bi-code{    transform: rotate(90deg);        display: inline-block;}
.f_dgo{    font-family: "Dela Gothic One", sans-serif;}
.box {
    background-color: #FFF190;
    width: 100%;
    border: 4px solid #000000;
    padding: 40px;
    border-radius:40px;
    color: #000000;
}
.box2 {
    background-color: #FA7D75;
    width: 100%;
    border: 4px solid #000000;
    padding: 20px;
    border-radius: 60px;
    color: #000000;
}
.tokenomics_img{    position: absolute;
    right: -210px;
    top: -15px;}



.h100{    height: 100%;}
.mmu_p {
    position: absolute;
    width: 60%;
    right: 0;
    bottom: -265px;
}
.box70 {
    padding: 30px 50px 30px;
    border-radius: 60px;
}

.token_address {
    background-color: #FFF190;
    border: 4px solid #000000;
    padding:7px 10px;
    border-radius: 20px 20px 0 0;
    color: #000000;
    display: inline-block;
    margin-left: 7%;
    border-bottom: 0;
    font-weight: 500;
}
.border0, .border0:hover{    border: 0;    background-color: #363636;}

.home_profile img{    object-fit: cover;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 20px;}

.fw600{ font-weight: 600;}
.fw800{ font-weight: 800;}
.open_05{ opacity: 0.5;}
.value_ex{      font-size:23px;word-break: break-all;}
.wbba{ word-break: break-all;}

.lh70{    line-height: 60px;}
.tab_btn button {
    background: #fff;
    border: 3px solid #000;
    padding: 12px 10px;
    width: 100%;
    display: block;
    border-radius: 15px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}
.tab_btn button:last-child{margin-right: 0;}
.tab_btn button:first-child{margin-left: 0;}

.tab_btn button img{    height: 50px;}
.tab_btn button.active{ background: #FD5D31; }
 .ex_input_box .in_icon {
    height: 32px;
    right: 20px;
    top: 10px;
}
/* .ffa{font-family: arial;} */
.input_item:active, .input_item:focus{  outline: none;}
.input_item {
    background: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 26px 20px 8px;
    font-size: 25px;
    border: 3px solid #000;
    color: #000;font-family: "Dela Gothic One", sans-serif;
    /* line-height: 50px; */ font-weight: 600;
}
.input_item2:active, .input_item2:focus{  outline: none;}
.input_item2 {
    background: #fff;
    border-radius: 30px;
    width: 100%;
    padding: 10px 30px ;
    border: 3px solid #000;
    color: #000; 
     font-weight: 500;    font-size: 18px;
}
.w100{ width: 100%;}
.hadding{
    font-size: 72px;color: #FFF190;font-family: "Dela Gothic One", sans-serif;    line-height: 72px;
}
.mmu1{    position: relative;    top: -100px;}
.font23 p {line-height: 1.4;    font-size: 22px;}
.mmu_man{    margin-top: 140px;}
 
.ttu{ text-transform: uppercase;}
.bg2{background:#783197}
.mt_100{    margin-top: -100px;    font-size: 2.5rem;}
.bg11{ position: absolute; left: 0; top: 0; width: 100%;}


.token_contract_item:last-child{   border: 0px solid #fff;}


.roadmap_box2 {
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    height: 120px;
    width: 40%; 
    position: relative;
    border-radius: 0 35px 0 0;
    margin-top: -200px;
}
.roadmap_box2::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 0;
}
.roadmap_box2 i {
    position: absolute;
    right: -14px;
    bottom: -18px;
    font-size: 25px;
}
.roadmap_box3{    transform: rotateY(180deg);    margin-left: auto;}
.app_stor{    height: 50px;}

.logos{position: relative;    z-index: 1;}

.logos2 div img {
    height: 100px;
    margin: 0 auto;
}
.bs_box {
    padding: 12px 16px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    right: -93px;
    top:45%;
    display: flex;
    width: auto; z-index: 9;
}

.crypto_page_bg{background: url("../img/crypto_page_bg.jpg")no-repeat top center; background-size: cover;}
.terms_se_bg{ background: #783197;}
/* background: url("../img/terms_se.jpg")no-repeat top center; background-size: cover; */

.pn_page_pt{    padding-top: 200px;}

.in_list li {
    margin-bottom: 20px;
    list-style: decimal;    margin-left: 20px;
}
.list_dot li{ margin-bottom: 20px;
    list-style: disc;   margin-left: 20px;}

    .label_po {
        font-weight: 600;
        position: absolute;
        z-index: 1;  
        top: 10px; color: #838383;
        left: 20px; 
    }

.select_dark:focus, .select_dark {
    height: auto;
    background: transparent;
    border: none;
    border-radius: 7px;
    font-weight: 500;
    position: absolute;
    z-index: 1;
    width: auto;
    bottom: 10px;
    right: 20px;
    outline: none;font-size: 16px;
}
.select_dark option{ font-size: 16px;}
.get_button{position: absolute;
    top: 2px;
    right: 2px;
    padding: 8px 15px;}


    .table td, .table th {
        border-top: 1px solid rgba(0, 0, 0, 0.22);
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid rgb(0 0 0 / 30%);
        border-top: 0px solid rgb(0 0 0 / 22%);
        padding-top: 0;
    }

    .page-item.disabled .page-link {
        color: #ffffff;
        background-color: #010418;
        border-color: #6f707c;
    }
    .page-item.active .page-link {
        background-color: #fff190;
        border-color: #fff190;
    }
    .page-link {
        color: #ffffff;
        background-color: #010418;
        border: 1px solid #6f707c;
    }
    .page-link:hover {
        color: #fff190;
        background-color: #010418;
        border: 1px solid #6f707c;
    }
    .pt170{    padding-top: 170px;}
    .faq .card-body {
        padding: 1rem 0 0 0;
    }
.btn_border2{     background: transparent;    }

.react-tel-input .country-list .country {
        font-size: 14px;
        color: #000;
    }    
    .react-tel-input .form-control {
        border: 0!important;    height: auto!important;    padding: 1px 0 1px 48px!important;    width: 85%!important;
    }
    .react-tel-input .flag-dropdown {
       
        border: 0!important;
        border-right: 1px solid #cacaca!important;
         
    }
    .react-tel-input .selected-flag:hover, .react-tel-input .selected-flag:focus {
        background-color: transparent!important;
    }
    .referr_box {
        overflow: hidden;
        position: relative;
        border: 3px solid #000000;
        border-radius: 40px;
        padding: 10px 10px;
        background: #fff;
        color: #383838;
        font-size: 11px;
    }
    .referr_box .btn {
        position: absolute;
        top: -3px;
        right: -3px;
        bottom: -2px;
        padding: 8px 14px;
        background: #FA7D75;
        border: 3px solid #000;
        font-size: 15px;  color: #000;
    }
    .earn_font {
        font-size: 82px;
        position: relative;
        z-index: 1;
        color: #fff190;
        text-align: right;
        line-height: 70px;
    }
.token_logo_referr {      z-index: 1;
        position: relative; }

.wita h4{font-family: "Dela Gothic One", sans-serif; color: #FFF190;    font-size: 28px;}
.wita p{color: #FFF190;}
.wita {
    padding: 15px 30px;
    position: relative;
    z-index: 1;
}
.wita:after {
    background: #FA7D75;
    content: "";
    position: absolute;
    left: 25%;
    width: 50%;
    height: 165px;
    top: 50px;
    border-radius: 100% 100% 0 0;
    z-index: -1;
}
.hadding100 {    font-size: 100px;    line-height: 90px;}
.tbg1{ background: #E2FEA5;}
.tbg2{ background: #188994;}
.tbg3{ background: #C9C69A;}
.tbg4{ background: #43BFDF;}
.tbg5{ background: #907DDC;}
.tbg6{ background: #FACF61;}
.new_footer{background: rgb(121,50,152);
    background: linear-gradient(0deg, rgba(121,50,152,1) 0%, rgba(121,50,152,1) 50%, rgba(0,0,0,0) 100%);    position: relative;}
.tbg {
    display: inline-block;
    border: 2px solid #000000;
    padding: 10px 15px;
    border-radius: 40px;
    color: #000000;
    margin: 0 15px 15px 0;
}
.hadding140 {
    font-size: 135px;
    line-height: 130px;
  
}
.app_text {
    position: absolute;
    right: -30px;
    top: 12%;
    text-align: right;
}
.petrol_img {
        position: absolute;
        right: 0;
        bottom: 0;
    }
.roadmap_box h3{ color: #783197;}
.roadmap_box li {
    font-size: 16px;
    padding: 0 0 5px 30px;
    position: relative;
}
.roadmap_box li::after{ content: "";position: absolute;top: 0; left: 0; width: 25px; height: 25px; background: url(../img/check.svg) no-repeat center;;}

.roadmap_box {
    padding: 100px 70px 50px ;
}
.roadmap_box .slick-prev, .roadmap_box .slick-next {
    padding: 5px;
    top: -15%;
    border: 1px solid #000;
    width: auto;
    height: auto;
    border-radius: 5px;
}
.roadmap_box .slick-prev{     left: 40%;}
.roadmap_box .slick-next {     right: 40%;}
.roadmap_box .slick-prev:before, .roadmap_box .slick-next:before {
    font-family: bootstrap-icons !important;
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: black;
}
.roadmap_box .slick-prev:before {
    content: "\f27f";
} 
.roadmap_box .slick-next:before {
    content: "\f280";
}
.app_text2 {position: absolute;right: 0;}
.hadding60{ font-size: 58px;}
.signin{    position: absolute;
    right: -150px;
    top: -32%;}
.bottom_border{    border-top: 3px solid #FFFFFF;
    padding: 20px;
    background: #793298;}
    .earn_more_box::after {
        background: #793298;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 49%;
        border-radius: 55px;
    }
 .br60{ border-radius: 60px;}
@media (min-width:991px) {
.dp_none{ display: none;}
.logos .slick-slide{  width:auto!important}
.p80_75{ padding: 80px 75px;}
}
@media (max-width:991px) {
.logos .slick-slide
{
          height: 60px;
    display: flex !important;
}
.mo_none{ display: none;}
.logos img {
    height: auto;
    margin: auto;
    padding: 10px;
}
.logos .slick-slide>div{
   
    margin: auto;
   
}
.nav_box { display: block;    padding: 3px 15px;}
.navbar-brand .logo{    height: 25px;}
.navbar {
    padding: 20px 0 0;
}
#home .banner_content {
    padding: 110px 0 35px;
}
.hadding { font-size: 28px;    line-height: 40px;}
.mo_f22{    font-size: 22px;}
.home h1 {
    font-size: 65px;
}
.btn {font-size: 13px;    padding: 10px 16px;}
.hadding140 { font-size: 40px;    line-height: 40px;}
.signin {
    right: -100px;
    top: -27%;
}
.box {
    border-radius: 30px;
    border: 3px solid #000000;
}
.token_address {
    border: 3px solid #000000;
    padding: 7px 10px;
    margin: auto;
    display: block;
    width: 88%;word-wrap: break-word;
}
.petrol_img {
    right: 0;
    bottom: auto;
    width: 150px;
    top: -55px;
}
.tokenomics_img {
    position: initial;
    width: 80%;
}
.app_text2 {
    right: 18px;
    top: 9px;
    font-size: 35px;
}
.app_text {
    right: 20px;
    font-size: 35px;
}
.hadding100{ line-height: 34px;}
.earn_more_box::after {
top: auto;
    bottom: 0;
    height: 36%;
    width: 100%;
    border-radius: 25px;
}
.earn_font {
    font-size: 50px;
    text-align: center;
    line-height: 55px;
}
.faq .card-header a:after {
    top: 8px; 
}
.tbg {
    padding: 5px 10px;
    margin: 0 10px 10px 0;
    font-size: 10px;
}
.box2 {
    padding: 15px;
    border-radius: 30px;
}
.token_contract_item{ text-align: center;}

}
.in_bg_img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.cip {
    cursor: initial !important;
}
@media screen and (min-device-width:1500px) and (max-device-width: 2500px) { 
.t-18{    top: -18%;}

}
@media (max-width:767px) {
#home {height: auto;}
.footer .btn { font-size: 12px; padding: 10px 15px;}
.mmu_p {  bottom: -130px;}
.sub_hadding { font-size: 18px;}
.font23 p { font-size: 16px;}
.tab_btn button { padding: 7px 5px;     margin: 0 5px;}
.mmu_man br{ display: none;}
.tab_btn button img {height: 35px;}
.mmu1 {
    top: 0;
    margin: 75px 0 30px;
    height: auto;
}
.token_mame img {
    width: 180px;
}	
.token_mame {
    top: -100px;
}
.h3_mobile{ font-size: 22px;}
.home h1 {
    font-size: 44px;
    line-height: 40px;
    letter-spacing: 0.2px;
}
.home p {
    font-size: 20px;
line-height: 33px;}
.footyer {padding: 30px 0 0;}
.about-content {
    padding-top: 15px;
}
.heading-primary {
    font-size: 22px;
}
.footer h4{    margin-top: 25px;}
.p70 {
    padding: 35px 0;
}
.mmu_man {
    margin-top: 0;
}
.tokenomics_value_top .h1 { font-size: 1.5rem;}
.mt_100 {
    margin-top: 0;
    font-size: 1.8rem;
}
.box {
    padding:20px 15px;
}
 
.roadmap_box2 { margin: auto;
    margin-top: 20px;    width: 6px;    height: 45px;
}
.roadmap_box li{
    font-size: 15px;
}
.logos marquee div img {
    height: 38px;
}
.logos2 div img {
    height: 60px;
}
.app_coins {
    top: -100px;
    width: 90%;
    position: initial!important;
    margin: auto;
}

.home_profile img {
    
    margin-right: 10px;    width: 45px;
    height: 45px;
}
.token_logo{     max-width: 50%;
    margin:0 auto 20px;
    display: block;}

.ex_box .h1 {
    font-size: 1.5rem;
}
.lr_manu li a {
    margin: 0 20px 15px 0;
}
.nav_link li {
    display: inline-block;
    margin-right: 15px;
}
.terms_link a {
    margin-left: 0;
    margin-right: 10px;
}

.ex_box_in h4 {
    font-size: 14px;
}
.value_ex {
    font-size: 16px;
}
.lh70 {
    line-height: 40px;
}
.bs_box {
    padding:6px;    
}
.bs_box .btn {
    padding: 2px 14px;
}
.bg2, .terms_se_bg, .crypto_page_bg {
    
    background-repeat: repeat-y;
    background-size: 120%;
}

.bgg1 {
    width: 500px;
    height: 500px;
}
.pn_page_pt { padding-top: 120px;}
.footer {
    padding: 0;
}
body {
    font-size: 14px;
}
.app_stor {
    height: 38px;
}
.pt170 {
    padding-top: 105px;
}
.faq .card {
    padding: 1rem 2.25rem 1rem 1.25rem;
}
.faq .card-body { padding: 1rem 0;}
#scroll-to-top {right: 10px;}
.bg-tl {
    width: 150px;
   
    bottom: 8%;
}
#home {
  
    background-size: 85%;
}
.roadmap_box {
    padding: 80px 20px 20px;
}
.roadmap_box .slick-prev{     left: 36%;}
.roadmap_box .slick-next {     right: 36%;}
.wita:after { height: 155px; top: 30px;}
.footer .logo {
    height: 30px;
}
}
